/* All tag */
* { font-family: arial; font-size: 14px; margin: 0; padding: 0; border: none; }
a { text-decoration: none; }
ul { list-style: none; }
html { font-size: 62.5%; width: 100%; height: 100%; }
body { width: 100%;height: 100%;}


/* header */
header { position: relative; height: 20%; background: #fff;border-top:none; border-left: none; border-right: none;}
header > .container { position: relative; z-index: 1; width: 100%; margin: 0 auto; height: 100%; }
header > .container > a { display: block; float: left; width: 30%;}
header > .container > a > div > img { transform: scale(0.4,0.4); float: left;margin-top: 6%; margin-left: -30%; }
header > .container > a > div { width: 80%; height: 80%; }
header > .container > nav {  float: left; width: 40%; height: 80%; }
header > .container > div { float: right; height: 100%; width: 30%;}
header > .container > div > div >a > img { padding-right: 5%; }
header > .container > div > div { margin-top: 10%; margin-left: 50%;}

/* nav */
nav > a { font-size: 1.3rem;width:20%; float: left; text-align: center; color: #999999; padding: 8% 0 0 0; height: 100%;font-family:kaiti;}
nav > a:hover,
nav > a.active {color: #000; }

.bottom{ height: 100%;width: 100%; background-image:url(../img/bottom.png); background-size: 100%; }

/* foot */
footer { position: relative; background: #25211E; width: 100%; height: 12%; }
footer>.container { width: 100%; height: 100%; margin: 0 auto; position: relative; background: #000; }
footer>.container>p { position: absolute; top: 40%;  left:35%; margin: 0 auto; text-align: center; opacity: .7; color: #fff;} 

/* banner */
.banner>section>div {float: left;}
.banner {height: 150%;width: 100%;}
.banner>section {height: 100%;width: 93.7%; margin:0 auto; background: #E7E7E7;}
.banner>section>div {
    height: 10%;
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    overflow: hidden;
}

.banner>section>div>div {
    height: 100%;
    width: 15%;
    margin: 0 auto;
}

.banner>section>div>div>div {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.banner>section>div>div>div>h1 {
    font-size: 2.4rem;
    color: #000;
    opacity: 0.7;
}

.banner>section>div>div>div>h2 {
    font-size: 1.1rem;
    color: #000;
    opacity: 0.3;
}

.banner>section>div>div>div:nth-child(2) {
    border: 1px solid #dcd3d3;
    height: 0px;
    width: 36%;
}

.banner>section>div:nth-child(2) {
    width: 100%;
    height: 80%;
    float: left;
    margin-top: 0;
    margin-left: 0;
}

.banner>section>div:nth-child(2)>.yifu {
    float: left;
    height: 47%;
    width: 33.15%;
    background: yellow;
    text-align: center;
    background: #E7E7E7;
    margin-top: 6px;
}

.banner>section>div:nth-child(2)>.yifu>div {
    height: 95%;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
}

.banner>section>div:nth-child(2)>.yifu>div>p {
    font-size: 0.6rem;
    opacity: 0.7;
}
.banner > section > div:nth-child(2) >.yifu>div>img {display: block;cursor: pointer;margin: 0 auto;}
.banner > section > div:nth-child(2) >.yifu>div:hover { animation: bianhua .7s;animation-fill-mode:forwards;}
@keyframes bianhua {0% {border: 0px;}100% {box-shadow: 0px 0px 15px rgba(0, 0, 0, .4);margin-top: -1px;}}